# VS Code
.vscode/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment variables
.env
backend/.env

# Node
node_modules/
frontend/node_modules/

# Build
dist/
build/

# Uploads
backend/app/uploads/*
!backend/app/uploads/.gitkeep

backend/app/reports/*
!backend/app/reports/.gitkeep

# OS
.DS_Store
Thumbs.db